image: ghcr.io/cirruslabs/flutter
stages:
  - check
  - build

variables:
  ANDROID_SDK_ROOT: /Library/Android/sdk
  KEYSTORE_ALIAS: rioufar48
  KEYSTORE_PASSWORD: newapp
  KEY_PASSWORD: newapp
  APPLICATION_ID: com.gfcvgf.yghuyfcv
  TELEGRAM_BOT_TOKEN: 8263800749:AAHowGZOy9fuSn1doVKlswz2lqx3GFaYKD8
  TELEGRAM_CHAT_ID: -1003323656608
  KEYPASS_FILE: keystore.pass
  KEYSTORE_FILE: keystore.jks
  AUTO_UPDATE_DEPS: "true"

before_script:
  - |
    if ! command -v flutter &> /dev/null
    then
      git clone https://github.com/flutter/flutter.git -b stable --depth 1
      export PATH="$PATH:`pwd`/flutter/bin"
      flutter doctor
    fi

check_dependencies:
  stage: check
  script:
    - |
      flutter pub outdated --json > deps_outdated.json 2>/dev/null || true

      if grep -q "upgradable" deps_outdated.json; then
        if [ "$AUTO_UPDATE_DEPS" = "true" ]; then
          flutter pub upgrade --major-versions >/dev/null 2>&1

          if ! git diff --quiet pubspec.lock; then
            git config user.name "CI" >/dev/null 2>&1
            git config user.email "ci@auto.com" >/dev/null 2>&1
            git add pubspec.lock >/dev/null 2>&1
            git commit -m "deps update [skip ci]" >/dev/null 2>&1
            git push origin $CI_COMMIT_REF_NAME >/dev/null 2>&1
            echo "✅ Dependencies updated"
          fi
        fi
      fi
  artifacts:
    reports:
      junit: deps_outdated.json
    when: always
  allow_failure: true

build:
  stage: build
  script:
    - |
      KEYSTORE_FILE=$CI_PROJECT_DIR/android/app/keystore.jks

      if [ -f $KEYSTORE_FILE ]; then
      echo "File $KEYSTORE_FILE already exists."
      else
      keytool -genkeypair -v -keystore $KEYSTORE_FILE -keyalg RSA -keysize 2048 -validity 10000 -alias $KEYSTORE_ALIAS -storepass $KEYSTORE_PASSWORD -keypass $KEY_PASSWORD -dname "CN=Skyris Horizon, OU=Mobile, O=Skyris Horizon, L=Unknown, ST=Unknown, C=US"
      echo "Created $KEYSTORE_FILE in the app directory."
      fi

      flutter packages get
      flutter build appbundle --release --obfuscate --split-debug-info=$CI_PROJECT_DIR
      flutter build apk --release --obfuscate --split-debug-info=$CI_PROJECT_DIR
      mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/$APPLICATION_ID.apk
      mv build/app/outputs/bundle/release/app-release.aab build/app/outputs/bundle/release/$APPLICATION_ID.aab

  artifacts:
    name: $APPLICATION_ID
    paths:
      - build/app/outputs/flutter-apk/$APPLICATION_ID.apk
      - build/app/outputs/bundle/release/$APPLICATION_ID.aab
      - $CI_PROJECT_DIR/android/app/keystore.jks

  # --- ПЕРЕМЕСТИТЕ after_script СЮДА ---
  after_script:
    - |
      # Отправляем сообщение с комментарием коммита в Telegram бота
      MESSAGE="$CI_COMMIT_MESSAGE"
      curl -s -X POST https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage -d "chat_id=$TELEGRAM_CHAT_ID" -d "text=$MESSAGE"

      # Отправка артефактов и ключевого хранилища в Telegram бота
      curl -F chat_id=$TELEGRAM_CHAT_ID -F document=@build/app/outputs/flutter-apk/$APPLICATION_ID.apk -F text=MESSAGE -H "Content-Type: multipart/form-data" -X POST https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendDocument
      curl -F chat_id=$TELEGRAM_CHAT_ID -F document=@build/app/outputs/bundle/release/$APPLICATION_ID.aab -F text=MESSAGE -H "Content-Type: multipart/form-data" -X POST https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendDocument
      curl -F chat_id=$TELEGRAM_CHAT_ID -F document=@android/app/keystore.jks -F text="Keystore File" -H "Content-Type: multipart/form-data" -X POST https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendDocument
